@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,500&display=swap');

:root{
    --color-main: #1a202e;
}

*{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    margin: 0; padding: 0;
}

.sidebar{
    width: 280px;
    position: fixed;
    left: 0; top: 0;
    height: 100%;
    padding: 1rem 1.5rem;
    background: var(--color-main);
    color: #fff;
}
.sidebar-brand{
    height: 100px;
}
.brand-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.brand-icons span{
    font-size: 1.5rem;
    margin-left: .5rem;
}
.sidebar-user{
    margin: 0 0 1rem 0;
    text-align: center;
}
.sidebar-user img{
    width: 110px;
    height: 110px;
    border-radius: 50%;
    border-left: 2px solid transparent;
    border-bottom: 2px solid #efefef;
    border-right: 2px solid #efefef;
    border-top: 2px solid #efefef;
}
.sidebar-user h3{
    font-size: 1rem;
}
.sidebar-user span{
    font-size: .8rem;
}
.sidebar-menu{
    margin-top: 3rem;
}
.menu-head{
    text-transform: uppercase;
    color: #8da2fb;
    font-size: .75rem;
    font-weight: 500;
    margin-bottom: .8rem;
}
.sidebar-menu ul{
    margin-bottom: 1.5rem;
}
.sidebar-menu li{
    margin-bottom: .9rem;
}
.sidebar-menu li a{
    color: #efefef;
    font-size: .9rem;
    display: flex;
    align-items: center;
}
.sidebar-menu li a span{
    font-size: 1.5rem;
    display: inline-block;
    margin-right: .8rem;
}
.main-content{
    margin-left: 280px;
}
